.ltt-authors-index-header {

  .ltt-authors-search {
    margin-left: 80px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;

    .authors-search-input {
      float: left;
      width: 50%;
      margin-right: 10px;
    }
  }
}
