.ltt-publishers-index-header {

  .ltt-publishers-search {
    margin-left: 80px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;

    .publishers-search-input {
      float: left;
      width: 50%;
      margin-right: 10px;
    }
  }
}
