<tr>
  <td class="col-md-2"><%= link_to publisher.name, [:admin, publisher] %></td>
  <td class="col-md-1">
    <%= link_to t("admin.publisher.action.edit"), edit_admin_publisher_path(publisher),
      id: "open-contacts-dialog-btn", class: "btn btn-primary inbox-sf-add-btn tip"%>
    <%= link_to t("admin.publisher.action.delete"), admin_publisher_url(publisher),
      id: "open-contacts-dialog-btn", class: "btn btn-primary inbox-sf-add-btn tip",
      method: :delete, data: {confirm: t("admin.index.confirm")} %>
  </td>
</tr>
