<header class="navbar navbar-default">
  <div class="container">
    <%= link_to t("site.name"), "#", id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("navbar.signup"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
